h1 {
	color: white;
	text-align: center;
	font-size: 3.5rem;
	font-family: Arial, Helvetica, sans-serif;
}

.canvas {
	border: solid 4px rgb(49, 10, 49);
	height: 700px;
	width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	background-color: rgb(26, 5, 26);
}
